@use "@/style/variables.scss" as *;

.file-card {
    background: white;
    display: flex;
    min-width: 250px;
    padding: 25px;
    border: 1px solid $text-light2;
    border-radius: 5px;


    &.large {

    font-weight: bold;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    }

    &.medium {

    }

    &.small {

    }
}
