.timestamp {
    font-size: 0.8rem;
    font-weight: 500;
}

.sender {
    font-weight: 700;
    font-size: 0.9rem;
    text-align: left;
    margin: 0;
    z-index: 15;

    .bottom {
        margin-right: auto;
    }
}
