

:root {
  --primary:  #081c44;
  --primary2: #0f347c;
  --secondary: #ececec;
  --background: #ffffff;
  --text1: #f0f0f0;
  --text2: #cecece;
  --text3: #909090;
  --text4: #000000;
  --text5: #1b1b1b;
  --text6: #414141;
  --shadow-color: lightgrey;
}

.dark-mode {
  --primary: #0b2760;
  --primary2: #0a1b4a;
  --background: #222;
  --secondary: #2a2a2a;
  --text6: #f0f0f0;
  --text5: #cecece;
  --text4: #909090;
  --text3: #000000;
  --text2: #1b1b1b;
  --text1: #414141;
  --shadow-color: #222;
}


$danger-transparent: rgba(243, 196, 196, 0.445);
$danger1: rgb(223, 67, 67);
$success: rgb(10, 116, 10);
$border-radius: 5px;

$page-width: 1200px;
$dashboard-page-width: 1600px;

$header-font: "Open Sans";
$sub-header-font: "Open Sans";
$font: "Open Sans";

$nav-height: 75px;
$footer-height: 75px;

:root {
    --page-gutter: 50px;
    --page-gutter-sm: 25px;
}

@media (max-width: 768px) {
    :root {
        --page-gutter: 25px;
    }
}

